










<div class="set-explain sortableitem" data-value='${dataString}' data-type='${type}'>
    <input type="hidden" name="id" value="${unicode}">
    <input type="hidden" name="type" value="${type}">
    <div class="order-num operating"></div>
    <div class="content">
        <div class="top">
            <p class="ques-type">【说明文字】</p>
            <a class="cui-button save" href="javascript:void(0)"  data-id='${unicode}' data-type="${type}">
                <span>保存</span>
            </a>
        </div>
        <div class="explain-subject">
            <script id="explainSubject${unicode}" type="text/plain" data-placeholder="该信息考生可见">$${comment}</script>
        </div>
    </div>
</div>
