










<div class="preview-question preview-explain sortableitem" data-id='${unicode}' data-value='${dataString}'>
    <div class="order-num operating">
        <a href="javascript:void(0)" class="moveup">上移</a>
        <a href="javascript:void(0)" class="movedown">下移</a>
        <a href="javascript:void(0)" class="copy">复制</a>
        <a href="javascript:void(0)" class="delete" data-id='${unicode}'>删除</a>
    </div>
    <div class="content">
        <div class="top">
            <p class="ques-type">【说明文字】</p>
            <a class="cui-button edit"  data-value='${dataString}'><span>编辑</span></a>
        </div>
        <div class="explain-subject">$${comment?comment:'该信息考生可见'}</div>
    </div>
</div>
