<div class='like-modal'>
    <div class='cui-panelContainer'>
        <div class='cui-panel-header'>
            <a class='shrink'>
                <img src='/images/shrink.png' />
                <span>收起<span>
            </a>
            <a href='javascript:void(0)' class='download'>
                <img src='/images/download.png' />
                <span>下载</span>
            </a>
        </div>
        <div class='cui-panel-content'>
            <div class='imgs-group'>
                <div class='default'>
                    <img src='${actImgPaths}' data-name='${actImgNames}' class='forBig' />
                </div>
                <div class='group'>
                    <span class='cpf-icon cpf-icon-ic_arrowleft'></span>
                    <div class="imgs"></div>
                    <span class='cpf-icon cpf-icon-ic_arrowright'></span>
                </div>
            </div>
        </div>
    </div>
</div>
