extends ../share/layout.baseM.jade

block styleSection
  link(rel="stylesheet", type="text/css", href=pageHelper.setStyle('examM.resetPassword'))

block content
  .exam-content
    .div-group
      .div-body
        .cui-txtgroups
          .item
            span 旧&nbsp;密&nbsp;码：
            .cui-textBoxContainer.inline(data-rule='',data-tips='')
              input(type='password')
          .item
            span 新&nbsp;密&nbsp;码：
            .cui-textBoxContainer.inline(data-rule='required;shortest=6',data-tips='密码长度不小于6位')
              input(type='password')
          .item
            span 确认密码：
            .cui-textBoxContainer.inline(data-rule='required;shortest=6',data-tips='密码长度不小于6位')
              input(type='password')
        .a-button
          a.cui-button.preset-blue(href='javascript:void(0);')
            span 保&nbsp;&nbsp;存
block scriptSection
   script(type="text/javascript", src=pageHelper.setScript('examM.resetPassword'))
