extends ../share/layout.base.jade

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('admin.resetPassword'))

block content
  .ex-content-right
    - var tabType = 2,tabActive = 1
    include ../share/component.commonTab.jade
    .company-wrap
      //- 修改密码导航部分
      p.cm-nav
        span.super 信息设置&nbsp;
        i.cpf-icon-ic_arrowright.fs &nbsp;
        span 修改密码
      //- 修改密码主要
      .cm-main
        div
          p 旧密码：
          .cui-textBoxContainer.inline(data-rule='required;shortest=6',data-tips='密码长度不小于6位')
            input.old(type='password')
        div
          p 新密码：
          .cui-textBoxContainer.inline(data-rule='required;shortest=6',data-tips='密码长度不小于6位')
            input.new(type='password')
        div
          p 确认密码：
          .cui-textBoxContainer.inline(data-rule='required;shortest=6',data-tips='密码长度不小于6位')
            input(type='password')
        .btns
          a.cui-button.preset-blue.sure()
            span 确定
    include ../share/common.footer.default.jade

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('admin.resetPassword'))
