extends ../share/layout.base

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('examiner.resetPassword'))

block content
  .special-wrap
    include ../share/component.header.out.jade
    .wrap
      .wrap-detail
        .content
          .base-style
            .cui-txtgroups
              .cui-textBoxContainer(data-rule='required;shortest=6',data-tips='密码长度不小于6位')
                span 旧&nbsp;密&nbsp;码：
                input(type='password')
              .cui-textBoxContainer(data-rule='required;shortest=6',data-tips='密码长度不小于6位')
                span 新&nbsp;密&nbsp;码：
                input(type='password')
              .cui-textBoxContainer(data-rule='required;shortest=6',data-tips='密码长度不小于6位')
                span 确认密码：
                input(type='password')
            .a-button
              a.cui-button.preset-blue.mr20(href='javascript:void(0);')
                span 确&nbsp;&nbsp;定
              a.cui-button.cancel(href='/customer/examiner/taskList')
                span 取&nbsp;&nbsp;消
    include ../share/common.footer.default.jade

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('examiner.resetPassword'))
