.managementTab
  ul.tabs
    li(class=tabActive==0?'active':'')
      a(href="/customer/admin/group") 分组管理
    li(class=tabActive==1?'active':'')
      a(href="/customer/admin/adminList") 管理员列表
    li(class=tabActive==2?'active':'')
      a(href="/customer/admin/role") 角色管理
