.go-to-top
  i.cpf-icon.cpf-icon-ic_totop
.go-to-bottom
  i.cpf-icon.cpf-icon-ic_totop
- if(customer_service)
  .customer_service
    i.cpf-icon.cpf-icon-headset
  .service_detail
    .service_detail_content
      p 咨询服务热线
      p 400-012-5066
      a
        script(charset="utf-8",type="text/javascript",src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODE5MDA0OV80MDUwOTFfNDAwMDEyNTA2Nl8")

