//-
  @Author: Jet.Chan
  @Date:   2016-12-29T14:48:27+08:00
  @Email:  guanjie.chen@talebase.com
  @Last modified by:   Jet.Chan
  @Last modified time: 2017-03-10T11:21:29+08:00



extends ../share/layout.default

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('vendors'))
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('home.index'))

block sidebar
  //- this.leftToLink = 1;
  include ../share/component.commonLeft.jade
block content
  div#ex-content
    //- iframe.ex-iframe(src='/exam/examList/createExam',name='ifmContent')
    input(id='ifmTargetUrl',name='ifmTargetUrl',value=goToUrl,style='display:none')
    iframe#ex-iframe.ex-iframe(src='',name='ifmContent')

block scriptSection
  //- script(src= pageHelper.setScript('vendors'))
  script(type="text/javascript", src= pageHelper.setScript('home.index'))
