<!--
@Author: Jet.Chan
@Date:   2017-02-16T15:05:48+08:00
@Email:  guanjie.chen@talebase.com
@Last modified by:   Jet.Chan
@Last modified time: 2017-02-16T16:21:43+08:00
-->



<div class="tips">
    <div class="tips-content">
        <p>考试期间请不要跳出答题窗口！<br>本次考试共有<span class="totalCount">$${totalCount}</span>次切换机会，当前已用<span class="currSuspendCount">$${currCount}</span>次。切换机会用完后，再次跳出答题窗口，系统将自动交卷，请谨慎操作！</p>
    </div>
    <div class="btns">
        <a class="cui-button preset-blue sure">
            <span>确定</span>
        </a>
    </div>
</div>
