extends ../share/layout.base

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('user.findPassword'))

block content
  include ../share/component.header.out.jade
  .wrap
    .content
      div.form
        div.state 请输入您帐号中使用的邮箱，用于找回密码
        div.cui-container
          .cui-textBoxContainer(data-rule="required" data-tips="请输入用户名")
            span 帐号：
            input(type="text",placeholder="请输入用户名").findPsAccount
          .cui-textBoxContainer(data-rule="required;email" data-tips="请输入正确的邮箱")
            span 邮箱：
            input(type="text",placeholder="请输入邮箱").findPsEmail
          .cui-textBoxContainer(data-rule="required" data-tips="请输入正确的验证码")
            span 验证码：
            input(type="text",placeholder="请输入验证码").findPsValidateCode
            a.vcode(href='javascript:void(0);',data-token=initCode)
              img(src='/common/captcha/getValidateCode',id='vcode')
              //-r.base64Image
            a.change(href='javascript:void(0);',onclick='document.getElementById("vcode").src="/common/captcha/getValidateCode?r="+Math.random()')
              span 换一张
          .cui-botton
            a.preset-blue.next
              span 下一步
            a.preset-common(href='/customer/user/login')
              span 返回登录页
  include ../share/common.footer.default.jade

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('user.findPassword'))
