extends ../share/layout.base

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('exam.resetPassword'))

block content
  .special-wrap
    include ../share/component.header.out.jade
    .wrap
      .title 修改密码
      .contain-wrap
        .contain
          .item
            span 旧密码：
            .cui-textBoxContainer.inline(data-rule='required;shortest=6', data-tips='请输入正确的密码')
              input(type='password', placeholder='')
          .item
            span 新密码：
            .cui-textBoxContainer.inline(data-rule='required;shortest=6', data-tips='请输入正确的密码')
              input(type='password', placeholder='')
          .item
            span 确认密码：
            .cui-textBoxContainer.inline(data-rule='required;shortest=6', data-tips='请输入正确的密码')
              input(type='password', placeholder='')
          .confirm
            a.cui-button.preset-blue
              span 确定
            a.cui-button(href="/exam/taskList")
              span 取消
    include ../share/common.footer.default.jade

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('exam.resetPassword'))
